<head> 
	<meta http-equiv="Content-Type" content="text/html"/> 
		<title>#jhusps Webchat</title> 
			<style type="text/css"> 
			html {overflow: auto;} 
			html, body, div, iframe {margin: 0px; padding: 0px; height: 100%; border: none;} 
			iframe {display: block; width: 100%; border: none; overflow-y: auto; overflow-x: hidden;} 
			</style> 
		</head> 
	<body> 
		<iframe id="tree" name="tree" src="http://webchat.freenode.net?nick=jhusps_.&channels=%23jhusps&prompt=1&uio=MT11bmRlZmluZWQb1" frameborder="0" marginheight="0" marginwidth="0" width="100%" height="100%" scrolling="auto"></iframe> 
	</body> 
</html>

