<!DOCTYPE html>
<html lang="en">
<head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
        <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
        {% if FEED_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}


        <!--[if IE]>
                <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

        <!--[if lte IE 7]>
                <link rel="stylesheet" type="text/css" media="all" href="{{ SITEURL }}/css/ie.css"/>
                <script src="{{ SITEURL }}/js/IE8.js" type="text/javascript"></script><![endif]-->

        <!--[if lt IE 7]>
                <link rel="stylesheet" type="text/css" media="all" href="{{ SITEURL }}/css/ie6.css"/><![endif]-->

        <!-- Unfortunately we need to do this in the theme, will need to customize any theme we use. -->
        <link rel="shortcut icon" href="http://www.pha.jhu.edu/groups/sps/favicon.ico">

</head>

<body id="index" class="home">
{% include 'github.html' %}
        <header id="banner" class="body">
                <h1><a href="{{ SITEURL }}/index.html">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
                <nav><ul>
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU != False %}
                {% for p in PAGES %}
                    <li {% if p == page %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                {% endfor %}
                {% endif %}
                <li><a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">Archives</a></li>
                {#{% for cat, null in categories %}
                    <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}#}
                </ul></nav>
        </header><!-- /#banner -->

        {% block content %}
        {% endblock %}

        <aside id="sidebar">
                <div class="widget">
                        <h2>Categories</h2>
                        <ul>
                        {% for cat, null in categories %}
                           <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                        {% endfor %}
                        </ul>
                </div>
        {% if LINKS %}
                <div class="widget blogroll">
                        <!-- What the fuck is a "Blogroll" anyway?-->
                        <!-- This is HTML, I'm allowed to profane :) -->
                        <h2>Links</h2>
                        <ul>
                        {% for name, link in LINKS %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                        </ul>
                </div><!-- /.blogroll -->
        {% endif %}
        {% if SOCIAL %}
                <div class="widget social">
				        <!-- A better name might be nice. -->
					    <h2>Social</h2>
                        <ul>
						    <!-- Don't force us to use a feed if we disabled that.-->
                            {% if FEED_ALL_ATOM %}
							<li><a href="{{ SITEURL }}/{{ FEED }}" rel="alternate">atom feed</a></li>
                            {% endif %}
							{% if FEED_RSS %}
                            <li><a href="{{ SITEURL }}/{{ FEED_RSS }}" rel="alternate">rss feed</a></li>
                            {% endif %}

                        {% for name, link in SOCIAL %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                </div><!-- /.social -->
        {% endif %}
        </aside><!-- /#sidebar -->

        <footer id="footer" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="http://alexis.notmyidea.org/pelican/">pelican</a>, which takes great advantages of <a href="http://python.org">python</a>.
                </address><!-- /#about -->

                <p>The theme is a custom version of <a href="https://github.com/getpelican/pelican-themes/tree/master/notmyidea-cms">notmyidea-cms</a>, adapted for JHU SPS use by Ben Rosser.</p>
        </footer><!-- /#footer -->

{% include 'analytics.html' %}
</body>
</html>
