{% extends "article.html" %}
{% block title %}{{ page.title|striptags }}{% endblock %}
{% block content %}
<section id="content" class="body">
	{% for album, images in page.gallery.iteritems() %}
	<h2><a name="{{ album }}">{{ album }}</a></h2>
	<ul>
	    {% for image in images %}
	    <a class="{{ album }} cboxElement" href="{{ SITEURL }}/images/gallery/{{album}}/{{ image }}" title="{{ image }}"><img src="{{ SITEURL }}/images/gallery200x200/{{album}}/{{ image }}"></a>
	    {% endfor %}
	</ul>
	{% endfor %}
</section>
{% endblock %}
